*{

	font-family: sans-serif;
	background-color: DarkSlateGrey;
}

.service{
	 background: DimGrey;
	 width: 100%;
	 padding:50px 0px;
}
.go h2{
	 color:#66CDAA;
	 font-size: 75px;
	 width: 1130px;
	 margin: 30px auto;
	 text-align: center;
}
.box{
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 min-height: 400px;
}
.des{
	 height: 365px;
	 width: 335px;
	 padding: 20px 35px;
	 background: #191919;
	 border-radius: 20px;
	 margin: 15px;
	 position: relative;
	 overflow: hidden;
	 text-align: center;
}
.des i{
	 font-size: 50px;
	 display: block;
	 text-align: center;
	 margin: 25px 0px;
	 color: #E6E6FA;
}
h5{
	 color: #66CDAA;
	 font-size: 23px;
	 margin-bottom: 15px;
}
.jak p{
	 color: #fcfc;
	 font-size: 16px;
	 line-height: 27px;
	 margin-bottom: 25px;
}
.des .button{
	 background-color: #E6E6FA;
	 color: #66CDAA;
	 text-decoration: none;
	 border: 2px solid transparent;
	 font-weight: bold;
	 padding: 9px 22px;
	 border-radius: 30px;
	 transition: .4s;
}
.des .button:hover{
 background-color: transparent;
 border: 2px solid #E6E6FA;
 cursor: pointer;
}
